@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;500&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;500&family=Roboto&display=swap");

html,
* {
  width: 100%;
  height: 100%;
}

.container_register {
  background-color: #fa2626;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  padding-bottom: 2rem;
}

.square_register {
  background-color: white;
  width: 40rem;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
}

.img_logo_register {
  width: 14% !important;
}

.text_logo {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-weight: bold;
  font-size: 1.5rem;
}

.text_login {
  font-family: "Mulish", sans-serif;
}

.form-control {
  height: 2.5rem;
  background-color: #e4e4e4 !important;
}

.form_login {
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left !important;
}

.btn-login {
  height: 2.8rem;
  background-color: #fa2626;
}

.text_signUp {
  color: #fa2626;
  text-decoration: none;
  font-weight: bold;
  margin-left: 0.5rem;
}
